div.dado{
	float:left;
	width:32px;
	background:#F5F5F5;
	border:#999 1px solid;
	padding:10px;
	font-size:30px;
	text-align:center;
    margin-left:45px;    
}

button {
  background-color: #4182d6;
  border: none;
  color: white;
  padding: 18px 98px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: grab;
}